<h3>{{listName()}}</h3>
<ul>
    @for (character of characters(); track character.id; let idx = $index) {

        @if(character.power >= 1000) {
          <li>
            <span>{{ 1 + idx}} - {{character.name}}</span>
            <strong
            [class.text-danger]="character.power >= 9000"
            [class.text-primary]="character.power < 9000"
            >
              ({{character.power}})</strong
              >
          </li>
        } @else{
          <li><strong>Nivel de poder demasiado bajo</strong></li>
        }
    }
</ul>
